a.navbar-brand  {
    color: whitesmoke;
}
#itensMenu{
    margin-left: 74%;
}
.logo{
    height: 50px;
    width: 75px;
}
.logo > img{
    height: 40px;
    width: 65px;
    padding-top: 5px;
}
nav{
    background: #5fbde1;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
}
nav > div > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav > div > ul > li{
    width: auto;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
}
nav > div > ul > li > a{
    font: 1em Impact, fantasy;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 50px;
}
.nav-item > a:hover{
    text-decoration: underline;
    color: #000000;
}
.fas{
    color: #ff0000;
    margin-right: 3px;
}